<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.untiy.store.mapper.UserMapper">

    <resultMap id="" type="">

    </resultMap>

    <!-->
        useGeneratedKeys="true":开启某个字段的值递增
        keyProperty="uid":设置主键(实体类的属性名)
    <!-->

    <insert id="insert" parameterType="com.untiy.store.entity.User" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user(
            uid,username,password,salt,phone,email,
            gender,avatar,is_delete,created_user,created_time,modified_user,modified_time
        )VALUES (
            #{uid},#{username},#{password},#{salt},#{phone},#{email},
            #{gender},#{avatar},#{isDelete},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
        )
    </insert>

    <!-->
        resultType:当实体类的属性和表的字段名字一样时用。
        resultMap:当实体类的属性和表的字段名字不一样时用，需要自定义映射规则。
    <!-->

    <select id="findByUsername" resultMap="">

    </select>
</mapper>